@import "tailwindcss";



@theme {
  
  --color-primary: #1F3A5F;     /* آبی تیره (اصلی) */
  --color-secondary: #2563EB;   /* آبی برند */
  --color-accent: #38BDF8;      /* آبی روشن */
  --color-success: #22C55E;     /* سبز علمی */
  
  /* Neutral */
  --color-bg: #F8FAFC;          /* پس‌زمینه */
  --color-surface: #FFFFFF;     /* کارت‌ها */
  --color-border: #E5E7EB;      /* خطوط */
  
  /* Text */
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
  --color-text-invert: #FFFFFF;
}

@layer base {
  @font-face {
    font-family: iranBold;
    src: url('./../../public/font/IRANSansXFaNum-Bold.ttf');
    font-weight: 900;
  }
  
  @font-face {
    font-family: iranSans-r; 
    src: url("./../../public/font/IRANSansXFaNum-Regular.ttf"); 
  }
}